.img_class{
    display: inline-block;
    margin:  5px 5px 5px 5px;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.video_thumbnail {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.video_thumbnail::before {
      position:absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      content: url("play_button.png");
      font-size: 100px;
      color: #fff;
      opacity: .8;
      text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    }
.video_thumbnail:hover:before {
      color: #eee;
    }